.select-world {
    border: 1px solid black;
    margin: 5px;
    width: 90px;
    border-radius: 45%;
    padding: 10px;
    outline: none;
}

.select-world:focus, .select-world:hover {
    outline: none;
    box-shadow: none;
    -webkit-appearance: none;
    border: 2px solid blue;
}

.select-world:focus {
    background-color: lightblue;
}

